
@keyframes color {
    0%   { background: #82655B; }
    20%  { background: #40772B; }
    40%  { background: #BFD641; }
    60%  { background: #DEC045; }
    80%  { background: #40772B; }
    100% { background: #82655B; }
}

@keyframes color2 {
    0%   { background: #DAB64E; }
    20%  { background: #A28277; }
    40%  { background: #758231; }
    60%  { background: #66A44D; }
    80%  { background: #A28277; }
    100% { background: #DAB64E; }
}

@keyframes color3 {
    0%   { background: #EB7285; }
    20%  { background: #40772B; }
    40%  { background: #A1404F; }
    60%  { background: #66A44D; }
    80%  { background: #40772B; }
    100% { background: #EB7285; }
}

@keyframes color4 {
    0%   { background: #A0593F; }
    20%  { background: #D48919; }
    40%  { background: #D44819; }
    60%  { background: #F77B51; }
    80%  { background: #D48919; }
    100% { background: #A0593F; }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
  
body {
    background: #40772B; 
    animation: color 9s infinite linear;
    text-align: center;
    padding: 2em;
}

.macchiato {
    background: #DAB64E; 
    animation: color2 9s infinite linear;
    text-align: center;
    padding: 2em;
}

.matcha {
    background: #EB7285; 
    animation: color3 9s infinite linear;
    text-align: center;
    padding: 2em;
}

.chai {
    background: #A0593F; 
    animation: color4 9s infinite linear;
    text-align: center;
    padding: 2em;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 20px 0;
}

#grid {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#styledtable {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
    height: 10px;
}

#styledtable td {
    text-align: center;
    padding: 10px;
    vertical-align: top;
}

#styledtable img {
    height: 200px;
    margin: 0 auto;
    transition: transform 0.2s;
}

#styledtable img:hover {
    animation: shake 1s; 
    animation-iteration-count: infinite; 
}

td {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: white;
}

ol {
    font-family: "Lucida Console", "Courier New", monospace;
    list-style-type: decimal;
    list-style-position: inside;
    padding-left: 20px;
    text-align: left;
    padding-top: 20px;
}

.floatwrapper {
    align-items: center;
    padding-top: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.floatl {
    align-items: center;
    width: 200px;
    height: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
    float: left;
  }