@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
  font-family: 'Potta One', sans-serif;
  color: #fff;
  text-align: center;
  background: url('sky.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

header h1 {
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-bottom: 1rem;
}

main p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.clouds {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
  width: 100%;
  height: 55vh;
}

.cloud {
  position: relative;
  display: inline-block;
}

.cloud img {
  width: 200px;
  height: auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cloud img:hover {
  transform: scale(1.1);
}

.music-icon {
  position: absolute;
  width: 50px;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: white;
  padding: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.music-icon:hover {
  transform: scale(1.01);
}

.puzzle-icon {
  position: absolute;
  top: -20px;
  left: 53%;
  transform: translateX(-50%);
  font-size: 48px;
  color: white;
  text-decoration: none;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.puzzle-icon:hover {
  transform: scale(1.01);
}

.coffee-icon {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.coffee-icon:hover {
  transform: scale(1.01);
}

.web-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .web-icon:hover {
    transform: scale(1.01);
  }

  .mountain-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .mountain-icon:hover {
    transform: scale(1.01);
  }

  .clock-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .clock-icon:hover {
    transform: scale(1.01);
  }

  .scissor-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .scissor-icon:hover {
    transform: scale(1.01);
  }
  
  .location-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .location-icon:hover {
    transform: scale(1.01);
  }
  
  .squiggly-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .squiggly-icon:hover {
    transform: scale(1.01);
  }
  
  
  
  